body {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}

button {
    width: 100px;
    height: 35px;
    margin: 2px;
    background-color: #efefef;
    border: 1px solid #aaa;
}
input {
    width: 110px;
    height: 35px;
    margin: 2px;
    background-color: #efefef;
    border: 1px solid #aaa;
}

canvas {
    border: 2px solid grey;
}

table {
    border-collapse: collapse;;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

audio {
    display: none;
}

#game {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 3%;
    padding: 0;
    width: 700px;
    height: 600px;
}

#canvas {
    position: absolute;
}

#menu, #next {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: 600px;
    border: 2px solid grey;
    padding: 0 10px;
}

#menu button, #menu input {
    display: block;
    margin: 3px auto;
}

#next {
    height: 150px;
    width: 150px;
    margin-top: 0;
    vertical-align: top;
}

#next table {
    margin: 0 auto;
}

#playing-field {
    display: inline-block;
}

#start-screen {
    width: 250px;
    height: 125px;
    position: absolute;
    top: 225px;
    left: 188px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 30px;
    text-align: center;
}

#playAgainBtn {
    display: none;
    position: relative;
    left: 100px;
    top: -300px;
    width: 100px;
    height: 50px;
    z-index: 100;
}

#help {
    display: block;
    text-align: center;
}

#controls {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    font-size: 12px;
}

#controls table {
    margin: 0 auto;
}

#controls th {
    background-color: #eee;
}

#controls td, #controls th {
    border: 1px solid #aaa;
    width: 200px;
    height: 30px;
    padding: 0;
}